body {
  font-family: Ubuntu, Helvetica, Arial;
}
.menu {
	visibility: hidden;
}
.menu.wasmoving:hover, .menu.moving {
	visibility: visible;
}
.menu {
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  z-index: 1;

  color: white;
  font-size: 24pt;
}
.left, .right {
  width: 40%;
  height: 100%;
  border-radius: 8px;
  opacity: 0.8;

  background: rgba(0, 0, 0, 0.8);
}
.left {
  float: left;
}
.right {
  float: right;
}
.title {
}

.left span, .right span {
  display: block;
  padding: 10px;
  padding-left: 20px;
  margin: 12px;
  border-radius: 8px;
}

.title ~ span {
  background: slateblue;
}

.title ~ span:hover {
  background: darkslateblue;
}

.title ~ span.selected {
  background: rebeccapurple;
}

.title ~ span.selected:hover {
  background: indigo;
}
